@using Covid19.Models.Enums

@model Covid19.ApplicationModels.PredictionSettings

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <span class="navbar-brand">Covid-19</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @*<li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Index", "Home", new { timeSeriesType = TimeSeriesType.Confirmed, viewType = "table", countries = Model.Countries, countrySearchType = Model.CountrySearchType})">Confirmed table</a>
        </li>*@
                <li class="nav-item">
                    <a class="nav-link text-dark" href="@Url.Action("Index", "Home", new { timeSeriesType = TimeSeriesType.Confirmed, viewType = "graph", countries = "Western Sahara", countrySearchType = CountrySearchType.Outside})">Confirmed graph world</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="@Url.Action("Index", "Home", new { timeSeriesType = TimeSeriesType.Confirmed, viewType = "graph", countries = "Ukraine", countrySearchType = CountrySearchType.Inside})">Confirmed graph Ukraine</a>
                </li>
                @*<li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Index", "Home", new { timeSeriesType = TimeSeriesType.Death, viewType = "table", countries = Model.Countries, countrySearchType = Model.CountrySearchType})">Death table</a>
        </li>*@
                <li class="nav-item">
                    <a class="nav-link text-dark" href="@Url.Action("Index", "Home", new { timeSeriesType = TimeSeriesType.Death, viewType = "graph", countries = "Western Sahara", countrySearchType = CountrySearchType.Outside})">Death graph world</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="@Url.Action("Index", "Home", new { timeSeriesType = TimeSeriesType.Death, viewType = "graph", countries = "Ukraine", countrySearchType = CountrySearchType.Inside})">Death graph Ukraine</a>
                </li>
                @*<li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Index", "Home", new { timeSeriesType = TimeSeriesType.Recovered, viewType = "table", countries = Model.Countries, countrySearchType = Model.CountrySearchType})">Recovered table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Index", "Home", new { timeSeriesType = TimeSeriesType.Recovered, viewType = "graph", countries = Model.Countries, countrySearchType = Model.CountrySearchType})">Recovered graph</a>
        </li>*@
            </ul>
        </div>
    </div>
</nav>

<div class="header-form">
    <form method="get">
        <input type="hidden" asp-for="ViewType" name="viewType"/>
        <input type="hidden" asp-for="TimeSeriesType" name="timeSeriesType"/>
        <table class="header-form">
            <tr>
                <th>
                    <label>Countries by comma:</label>
                </th>
                <th>
                    <label>Countries search type:</label>
                </th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <input type="text" asp-for="Countries" name="countries"/>
                </th>
                <th>
                    <select asp-for="CountrySearchType" name="countrySearchType">
                        <option value="Inside">Inside</option>
                        <option value="Outside">Outside</option>
                    </select>
                </th>
                <th>
                    <input type="submit" value="Predict"/>
                </th>
            </tr>
        </table>
    </form>
</div>


